blinker==1.8.2
certifi==2024.2.2
click==8.1.7
dnspython==2.6.1
email_validator==2.1.1
Flask==3.0.3
flask-marshmallow==1.2.1
flask-mongoengine==1.0.0
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
marshmallow==3.21.2
marshmallow-sqlalchemy==1.0.0
mongoengine==0.20.0
packaging==24.0
pymongo==3.6.0
SQLAlchemy==2.0.30
typing_extensions==4.11.0
Werkzeug==3.0.3
WTForms==3.1.2
